<!-- browser-sync start --server --files="**/*" -->
<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#263238">
    <title>Brayan J. Castaneda</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="default.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-route.min.js"></script>
  </head>


<body>

<div class="sticky-top" ng-controller="navbarCtrl as vm">
  <div class="jqslide" ng-if="vm.isNavbarActive();" ng-cloak>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:#ECEFF1">
      <a class="navbar-brand" href="#!/menu">Brayan J. Castaneda</a>
      <button id="menuBurger" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown" ng-repeat="currentOrPreviousProjects in vm.projectData">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor:pointer;" ng-bind="currentOrPreviousProjects.title">
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a ng-repeat="project in currentOrPreviousProjects.projects" ng-click="vm.changePage(project);" data-toggle="collapse" class="dropdown-item" style="font-size:.7em;cursor:pointer;" ng-bind="project.project_name"></a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link">About Me</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input ng-disabled="true" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button ng-disabled="true" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
    </nav>
  </div>
</div>


<div ng-controller="mainCtrl as vm" ng-view></div>


</body>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js" integrity="sha256-7/yoZS3548fXSRXqc/xYzjsmuW3sFKzuvOCHd06Pmps=" crossorigin="anonymous"></script>
<script src="app.js"></script>
</html>