<div class="level" style="padding-bottom:40px;"></div>

<div class="columns is-mobile slide jqslide" ng-if="!vm.exists">
    <div class="column"></div>
    <div class="column is-one-quarter-desktop is-two-thirds-mobile is-centered box">
        <figure class="image">
            <img src="me.jpg">
        </figure>
    </div>
    <div class="column"></div>
</div>

<div class="columns is-mobile jqslide slide" ng-if="!vm.exists">
    <div class="column"></div>
    <div class="column is-two-thirds-mobile is-one-quarter-desktop box">
            <div class="content">
                <p>Welcome to my website. Here you'll find a little more in-depth information about me and my projects that aren't limited to a single-page resume.</p>
            </div>
    </div>
    <div class="column"></div>
</div>

<div class="columns is-mobile jqslide" ng-if="!vm.buttonClicked">
    <div class="column"></div>
    <div class="column has-text-centered is-half-mobile is-one-quarter-desktop">
            <a class="button is-link is-fullwidth is-large" ng-click="vm.click();">
                <span class="slide">Hi There!</span>
            </a>
    </div>
    <div class="column"></div>
</div>

<div class="columns is-mobile jqslide" ng-if="vm.buttonClicked">
    <div class="column"></div>
    <div class="column has-text-centered is-half-mobile is-one-quarter-desktop">
            <a class="button is-success is-fullwidth" ng-click="vm.click();">
                <span class="slide">Let's get started!</span>
            </a>
    </div>
    <div class="column"></div>
</div>